<pdf-viewer id="medicine-list-view"
	delegate-handle="medicine-list-pdf-container"
	url="model.medicineList"
	scale="1.2"
	show-toolbar="false"
	headers="model.headers">
	<canvas class="view-medicine-document"></canvas>
</pdf-viewer>
